.maplibregl-canvas {
  border-radius: var(--border);
}

#map-results-container .maplibregl-canvas-container.maplibregl-interactive {
  cursor: grab;
}

#map-results-container
  .maplibregl-canvas-container.maplibregl-interactive:active {
  cursor: grabbing;
}
